body {
	margin: 0;
	background-color: #99ccff;
	font-family: "Helvetica", Sans-Serif;
	text-align: left;
    text-indent: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

a {
	color: blue;
}

img {
	width:100%;
	height:auto;
	border: solid 2px #CCC;
	align-self: center;
	object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    place-items: center;
}

/* Include padding and border in total box size */
* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

/*  Section 3  */

.section-heading {
  text-align:center;
  color:#102C4E;
  margin-top: 150px;
  margin-bottom:70px;
  font-size: 35px;
  border: solid 2px #CCC;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 5px;
    width: auto;
    text-align: left;
}

#li {
    padding-left: 40px;
    text-align: left;
}

#ul {
    padding: 0.5em 0 0 20px;
    margin: 0 2em;
    text-align: left;

}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    text-align: left;
}